# Django and related packages
django
djangorestframework
dj-rest-auth[with_social]
django-allauth
django-cors-headers

# HTTP requests
requests

# Timezone support
pytz

# Environment variables
python-dotenv

# Image support
Pillow

# Encryption
cryptography

# User-Agent parsing for emails
user-agents

# PostgreSQL database adapter
psycopg2-binary==2.9.9

# Production WSGI server
gunicorn==21.2.0